doctype
html

  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    if bodyClass == 'home'
      title Top Chef Stats
    else
      title=title + ' - Top Chef Stats'

    link(rel='stylesheet', href='/css/main.min.css')
    link(rel="icon", href="/images/favicon.ico")

    meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')

    meta(property='og:description', content=pageDescription)
    meta(name='twitter:description', content=pageDescription)
    meta(content='en_US', property='og:locale')
    meta(content='website', property='og:type')
    meta(content='Top Chef Stats', property='og:site_name')
    meta(content='@lynnandtonic', name='twitter:site')
    meta(content='@lynnandtonic', name='twitter:creator')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    if bodyClass == 'home'
      meta(property='og:title', content='Top Chef Stats')
      meta(property='twitter:title', content='Top Chef Stats')
      meta(property='og:url', content='https://topchefstats.com')
    else
      meta(property='og:title', content=title + ' - Top Chef Stats')
      meta(property='twitter:title', content=title + ' - Top Chef Stats')
      meta(property='og:url', content='https://topchefstats.com/' + bodyClass)
    if ogImage == 'season'
      meta(content='https://topchefstats.com/images/OG/' + bodyClass + '.jpg', property='og:image')
      meta(content='https://topchefstats.com/images/OG/' + bodyClass + '.jpg', property='twitter:image')
    else
      meta(content='https://topchefstats.com/images/facebook-top-chef-stats.png', property='og:image')
      meta(content='https://topchefstats.com/images/facebook-top-chef-stats.png', property='twitter:image')

  body(class=bodyClass)

    include include/nav-main

    block content

    include include/footer

    script(data-goatcounter='https://topchefstats.goatcounter.com/count'
        async src='//gc.zgo.at/count.js')
